# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pid
*.err
*.log
*.out

# Dist files
build/
dist/
.eggs/
*.egg-info

# Development / editors
dev/
.vscode/
